@font-face {
    font-family: new;
    src: url(Asset/NeueHaasDisplayMediu.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: new;
}

html,body{
    height: 100%;
    width: 100%;
}

.page-1{
    min-height: 100vh;
    width: 100%;
    background-color:  #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

.nav{
    padding: 2vw 0vw;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    justify-content: space-between;
}


.nav-text{
    display: flex;
    align-items: center;
    gap: 1vw;
}

.nav-text h4{
    padding: 10px 20px;
    border: 1px solid #0000003c;
    border-radius: 50px;
    font-weight: 500;
    color: #000000bb;
    transition: all ease 0.4s;
    position: relative;
    font-size: 18px;
    overflow: hidden;
}

.nav-text h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}


.nav-text h4:hover::after {
    bottom: 0;
    border-radius: 0;
}

.nav-text h4 a {
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

.nav-text h4:hover a {
    color: #FE330A;
}

.center{
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}

.left h3{
    width: 25vw;
    font-size: 2vw;
}

.center h1{
    font-size: 10vw;
    line-height: 8vw;
    text-align: right;
}


.page-1 video{
    width: 100%;
    border-radius: 20px;
    margin-top: 4vw;
    position: relative;
}

.hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    
    right: 0;
    top: 75vh;

}

.hero1-shape{
    background-color: #FE330A;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    height: 100%;
    width: 100%;
    filter: blur(20px);
    position: absolute;
}

.hero2-shape{
    background-color: #FE330A;
    border-radius: 50%;
    height: 30vw;
    width: 30vw;
    filter: blur(20px);
    position: absolute;

    animation: anime2 3s linear infinite alternate;

}

.hero3-shape{
    background-color: #FE330A;
    border-radius: 50%;
    height: 30vw;
    width: 30vw;
    filter: blur(20px);
    position: absolute;
    animation: anime 3s linear infinite alternate;

}

@keyframes anime {
    from{
        transform: translate(-10%,10%);
    }
    to{
        transform: translate(10%,-10%);
    }
}

@keyframes anime2 {
    from{
        transform: translate(-20%,20%);
    }
    to{
        transform: translate(10%,-10%);
    }
}


.page-2{
    min-height: 100vh;
    width: 100%;
    padding: 8vw 0;
    
}

.moving-text{
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 4vw;
}

.moving-text::-webkit-scrollbar{
    display: none;
}

.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


.moving-text h1{
    font-size: 9vw;
    display: inline-block;
}

.circle-shape{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FE330A;
    display: inline-block;
    margin: 1vw 2vw;

}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.page-2-bottom{
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vw;
}

.page-2-bottom h1{
    font-size: 4vw;
    width: 60%;
    color: #0b0500;
    font-size: 4.25em;
    font-weight: 500;
    line-height: 1;
}

.bottom-part-2{
    width: 25%;
    margin-top: 5vw;
}

.bottom-part-2 img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 3vw;
}

.bottom-part-2 p{
    
        color: #0b0500;
        margin-bottom: 0;
        font-family: Neuehaasdisplay roman,sans-serif;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.4;
    
}

.page-2 .page-2-shape{
    height: 38vw;
    width: 38vw;
    position: relative;
}



.page-2-shape .shape-2{
    background-color: #fe940a;
    height: 100%;
    width: 100%;
    filter: blur(20px);
    border-radius: 50%;
    position: absolute;
    top: -60%;
    left: 35%;
    z-index: -9;
    animation: page-2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes page-2 {
    from{
        transform: translate(-10%,10%) skew(0);
    }

    to{
        transform: translate(10%,-10%) skew(10deg);
    }
}