*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
    gap: 2vw;
    position: relative;
}

.nav h4{
    padding: 10px 20px;
    border: 1px solid rgba(26, 22, 22, 0.589);
    border-radius: 50px;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

.nav h4::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000;
    top: 0;
    left: -100%;
    border-radius: 50%;
    transition: 0.4s all ease;
    z-index: 9;
}

.nav h4:hover::after{
   
    left: 0;
    border-radius: 0;

}


.nav a{
    text-decoration: none;
    color: #000;
    font-size: 30px;
    transition: 0.4s all ease;
    position: relative;
    z-index: 10;
}

.nav h4:hover a{
    color: #fff;
}